.App {
    margin: 0;
    width: 100vw;
    overflow: hidden;
}

.active {
    text-decoration: underline;
}

body {
    background-image: url("https://uploads.panopto.com/2018/12/07144605/panopto-employee-training-video-library.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.8);
    background-blend-mode: lighten;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-title {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav {
    display: inline-flex;
}

.nav-link, ul{
    list-style-type: none;
    color: #70A4E0;
    font-weight: 400;
    font-size: large;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  display: inline-flex;
}

.nav-link {
      padding: 2rem;
}

.landing-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;

}

.details-display {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    color: #090B38;
}

.app-name {
    letter-spacing: 10px;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 0;
}

.tag-line {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
}

.image-container {
    display: flex;
    align-items: flex-end;
    height: 100vh;
}

.homepage-image {
    max-height: 70vh;
    max-width: 50vw;
    width: auto;
}

.button-container {
    display: flex;
    justify-content: center;
}

.search-button {
    border-radius: 5px;
    background-color: #6f9ed6;
    color: white;
    border: 2px solid #090B38;
    font-weight: 400;
    margin-top: 2rem;
}
