html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

html,
body,
#root,
.App {
    height: 100vh;
    width: 100%;
}

body {
    margin: 0;
    place-items: flex-start;
    background-image: url("../src/images/pages-background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

.landing-background {
      background-image: url("../src/images/landing-background.png") !important;
}

.active {
    text-decoration: underline !important;
}
.nav-title {
    color: black;
    text-transform: uppercase;
    font-weight: 00;
}

a {
    text-decoration: none;
}

.nav-link {
    color: #70a4e0 !important;
    font-weight: 400;
    font-size: large;
}

.nav-search {
  width: 15rem !important;
  background-color: #bbd2ed !important;
}

.nav-link {
    padding: 2rem;
}

.search-form {
  display: flex;
  position: relative;
  margin-right: 3rem;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: black;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

li {
    display: inline-flex;
}

.bookShelf {
    flex: 1;
    display: flex;
    flex-direction: column;
}
